<form class="pure-form pure-form-stacked">
    <p><button type="submit" formaction="{{ 'addNewStudent' | alias }}" class="pure-button">Add new</button></p>
</form>
<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Nr.</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        <repeat group="{{ @students }}" value="{{ @row }}" counter="{{ @ctr }}"> 
            <tr>
                <td>{{ @ctr }}</td>
                <td>{{ @row.name }}</td>
                <td>{{ @row.surname }}</td>
                <td><a href="/students/seeAllStudents/{{ @row.id }}/details">Details</a></td>
                <td><a href="/students/seeAllStudents/{{ @row.id }}/edit">Edit</a></td>
                <td><button class="pure-button btn-delete"
                        data-url="/students/seeAllStudents/{{ @row.id }}/delete">Delete</button></td>
            </tr>

        </repeat>

    </tbody>
</table>

