<form class="pure-form pure-form-stacked">
    <p><button type="submit" formaction="{{ 'selectStudentForALesson' | alias }}" class="pure-button">New
            Lesson</button></p>

    <p><button type="submit" formaction="{{ 'seeLessons' | alias }}" class="pure-button">Previous Lessons</button></p>

<!--     
    
    TODO: insert the possibility to have multiple lessons
    <p><button type="submit" formaction="{{ 'seeAllStudents' | alias }}" class="pure-button">Multiple Lesson</button></p> -->
</form>