<nav class="settings-nav">

            <ul>
                <li>
                    <a href="{{ 'settings' | alias }}">
                        <h3>Instruments</h3>
                    </a>
                </li>
                <li>
                    <a href="{{ 'lessons' | alias }}">
                        <h3>Gig Types</h3>
                    </a>
                </li>
                <li>
                    <a href="{{ 'calendar' | alias }}">
                        <h3>Student Sources</h3>
                    </a>
                </li>
                <li>
                    <a href="{{ 'displayEarnings' | alias }}">
                        <h3>Lesson Length</h3>
                    </a>
                </li>
                <li>
                    <a href="{{ 'gigs' | alias }}">
                        <h3>Student Regularity</h3>
                    </a>
                </li>
            </ul>

            </h3>
        </nav>






<div id="instruments" class="city">
   <!--  <h3>Insert the instrument(s) you teach</h3> -->
    <h3>{{ @settingsTitle }}</h3>
    <div class="form-inline">
        <!-- i need to put the current url of the POST route in the action, a different value for every tab of the page: here action="/settings/instruments" -->
        <form action="" method="post" class="pure-form pure-form-stacked">
            <check if="{{ @errors.instrument }}">
                <div class="field-error">{{ @errors.instrument }}</div>
            </check>
            <input type="text" name="instrument">

            <input type="submit" class="pure-button inline-button" value="Save">
        </form>
    </div>

<br>


    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Your instruments</th>
                <!-- <th>Edit</th> -->
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{ @instruments }}" value="{{ @inst }}">
                <tr>
 <!--                    <form method="POST"></form> -->
                        <td>{{ @inst.type }}</td>

<!--                         <td>
                            <input type="submit" class="pure-button" value="Edit"
                                formaction="/settings/{{ @inst.id }}/edit">
                        </td>
                    </form> -->
                    <td><button class="pure-button btn-delete"
                            data-url="/settings/{{ @inst.id }}/delete">Delete</button>
                    </td>
                </tr>
            </repeat>
        </tbody>
    </table>

</div>